html {
  font-family: sans-serif;
}

div{
    width: 200px;
    margin: auto;
    line-height: 8;


    backroundcolor:1px solid #8b0000;
    backroundimage: linear-gradient(
        to top left,
        rgba(0,0,0,0.2)
        rgba(0,0,0,0.2)30%
        rgba(0,0,0,0)
    )
    border: 1px solid #8b0000;
    border-radius: 10px;
    texts-hadows
    color: maroon;
    text-allign: center;
    font-size: 1rem;



}